*{
    margin: 0;
    padding: 0;
}
.container{
    width: 40%;
    text-align: center;
    background-color: blue;
    border-radius: 10px;
    color: white;
}
.outer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}